body {
    margin: 0;
    font-family: sans-serif;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

a:link,
a:visited {
    color: #309;
}

a:hover,
a:focus {
    color: #30c;
}

a:active {
    color: #c00;
}

.step {
    margin: 0.5em;
    padding: 0.5em;
    border: 2px solid #eee;
    border-radius: 0.5em;
}

h1 {
    font-size: 1.25em;
    margin: 0.5em 0;
}

.step h1 {
    font-size: inherit;
}

.step h1 a {
    color: #0c0;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white !important;
    background: #06f;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    filter: brightness(1.2) saturate(1.2);
}

.button--ready {
    background: #3c0;
}

.button--disabled,
.button:disabled {
    background: #999;
    cursor: unset;
}

.button--disabled:hover,
.button:disabled:hover {
    filter: unset;
}

.notification {
    background: #eee;
    padding: 0.25em;
    margin: 0.25em 0;
}

.notification--confirmation {
    background: #dfc;
}

.notification--error {
    background: #fec;
}

hr {
    border: 0;
    border-top: 2px dotted #ddd;
    margin: 0.5em -0.5em;
}